<div class="container">
    <div class="row">
        <div class="col">
            <img src="../../../assets/images/contactus.png" alt="sing up image" width="600px" height="500px"
                style="margin-top: 50px;">
        </div>
        <div class="col" style="margin-top: 120px;">
            <h2 class="my-4 font-bold text-3xl  sm:text-4xl "> <span class="text-indigo-600">Overview</span>
            </h2>
            <p class="text-gray-700">{{AboutList[0].Overview}}</p>
            <h2 class="my-4 font-bold text-3xl  sm:text-4xl "> <span class="text-indigo-600">Spirit</span>
            </h2>
            <p class="text-gray-700">{{AboutList[0].Spirit}}</p>
        </div>
    </div>
</div>