<footer class="">
    <div class="column">
        <a class="footer_title"> SOCIAL MEDIA LINKS</a>
        <a></a>
        <a href="https://en-gb.facebook.com/hiddencoder1/?hc_ref=ARRKzVb747CdW1-qNfaTzSNP2iZzCGtrqpOka--EUEUbyH_wAbUv7BgI1LUY7o-_OeU&ref=nf_target&__tn__=kC-R"
            title="Facebook"><i class="fa fa-facebook"></i></a>
        <a href="https://instagram.com/hiddencoder88?utm_medium=copy_link" title="Instagram"><i
                class="fa fa-instagram"></i></a>
        <a href="mailto:hiddencoder1@gmail.com" title="Twitter"><i class="fa fa-envelope"></i></a>
    </div>
    <div class="column">
        <a class="footer_title">OTHER FEATURES</a>
        <a routerLink="/service">Our Services</a>
        <a routerLink="/terms">Terms & Conditions</a>
    </div>
    <div class="column">
        <a class="footer_title">ABOUT HIDDEN CODER</a>
        <a routerLink="/branch">Our Branches</a>
        <a routerLink="/contactus">Contact Us</a>
        <a routerLink="/aboutus">About Us</a>
    </div>
    <div class="column">
        <a class="footer_title">OUR DEVELOPERS</a>
        <a href="" title="PUJA BOSE"><img
                src="https://scontent.fccu3-1.fna.fbcdn.net/v/t1.18169-9/25507650_655195384868963_1996453486570231394_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=174925&_nc_ohc=BmsSpi3-HqIAX-b67tG&tn=eLj4TIFGqfC0lmTb&_nc_ht=scontent.fccu3-1.fna&oh=3089eefe462e21a6eb4073eaaefa7154&oe=60E4D868"
                style="width: 50px; height: 50px; border-radius: 90px;"></a>
        <a href="" title="AMRITA DEBNATH"><img
                src="https://scontent.fccu1-1.fna.fbcdn.net/v/t1.6435-9/71592544_441010816758771_2564678105205571584_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=174925&_nc_ohc=PheTHJkhsiwAX_guwqa&_nc_ht=scontent.fccu1-1.fna&oh=d00493bb9a9876781db982bf136e7e81&oe=60E590B7"
                style="width: 50px; height: 50px; border-radius: 90px;"></a>
        <a href="" title="PALLAB ROY"><img
                src="https://scontent.fccu1-1.fna.fbcdn.net/v/t1.6435-9/36405651_107163006866442_5910025550784626688_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=3ZPMyMH1kSoAX_UQ1Vx&_nc_ht=scontent.fccu1-1.fna&oh=556d4ea7c679484872a941fade5ba4b2&oe=60E4CFEC"
                style="width: 50px; height: 50px; border-radius: 90px;"></a>
        <a href="" title="MAINAK PAL"><img
                src="https://scontent.fccu1-1.fna.fbcdn.net/v/t1.6435-9/139273837_796622454286919_6089886313024069470_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=174925&_nc_ohc=-StYrheksBkAX-gFF8p&_nc_ht=scontent.fccu1-1.fna&oh=72465482138b9aed157dab28f8325a47&oe=60E4F1AF"
                style="width: 50px; height: 50px; border-radius: 90px;"></a>
        <a href="" title="RAFIK"><img
                src="https://scontent.fccu1-1.fna.fbcdn.net/v/t1.6435-9/83055331_535223164004003_1592017572012752896_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=xha_rz3a_XoAX_r8AWK&_nc_ht=scontent.fccu1-1.fna&oh=22e0acce0d818be6fe1f3ec2bf94f145&oe=60E57E64"
                style="width: 50px; height: 50px; border-radius: 90px;"></a>
    </div>
    <div class="column">
        <a class="footer_title">GET IN TOUCH WITH US</a>
        <a title="Address"><i class="fa fa-map-marker"></i>Salt Lake Electronics Complex, Stesalit Towers, GP Block, Sector V, Kolkata, West Bengal 700091
             </a>
        <a href="emailto:hiddencoder1@gmail.com" title="Email"><i class="fa fa-envelope"></i>
            hiddencoder1@gmail.com</a>
        <a href="tel:" title="Contact"><i class="fa fa-phone"></i> +(91)8336818969</a>
    </div>

    <div class="column">
        <a class="footer_title">HOURS OPEN</a>
        <a title="Address">Hours: 
            Monday 11am–7:30pm
            Tuesday	11am–7:30pm
            Wednesday 11am–7:30pm
            Thursday 11am–7:30pm
            Friday	11am–7:30pm
            Saturday Closed
            Sunday Closed
             </a>
       
    </div>

    <div class="sub-footer">
        © CopyRights 2021 Hidden Coder || All rights reserved
    </div>
</footer>