<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" routerLink="/admin">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">Interface</div>
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts"
                        aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Create
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                        data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" routerLink="/createdepartment">Department</a>
                            <a class="nav-link" routerLink="/createemployee">Employee</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#maillayout"
                        aria-expanded="false" aria-controls="maillayout">
                        <div class="sb-nav-link-icon"><i class="far fa-envelope"></i></div>
                        Check Mails
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="maillayout" aria-labelledby="headingOne"
                        data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" routerLink="/sentmail">Sent Mails</a>
                            <a class="nav-link" routerLink="/recievedmail">Recieved Mails</a>
                        </nav>
                    </div>
                    <a class="nav-link" routerLink="/updateabout">
                        <div class="sb-nav-link-icon"><i class="far fa-address-card"></i></div>
                        About
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Update About</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a routerLink="/admin">Dashboard</a></li>
                    <li class="breadcrumb-item active">Update About</li>
                </ol>

                <div class="UpdateAdmin">
                    <div class="form-froup d-flex flex-column" style="width: 100%;">
                        <div class="d-flex flex-column">
                            <label class="form-label mt-3" style="font-weight: 700;">Overview</label>
                            <div class="">
                                <textarea [(ngModel)]="AboutList[0].Overview" class="form-control"
                                    id="exampleFormControlTextarea1" rows="6"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-froup d-flex flex-column" style="width: 100%;">
                        <div class="d-flex flex-column">
                            <label class="form-label mt-3" style="font-weight: 700;">Spirit</label>
                            <div class="">
                                <textarea [(ngModel)]="AboutList[0].Spirit" class="form-control"
                                    id="exampleFormControlTextarea1" rows="6"></textarea>
                            </div>
                        </div>
                    </div>
                    <button (click)="updateClick()" type="button" class="btn btn-primary m-2" data-backdrop="static"
                        data-keyboard="false">
                        Update
                    </button>
                </div>

            </div>
        </main>
    </div>
</div>