<div class="container mt-5">
    <h3 style="text-align: center;">Mumbai Head Office</h3>
    <p style="text-align: center;">2/A ,SRC Colony, Mumbai-65432|| Contact: 9878982455 || mail
        id:hiddencmumbai@gmail.com</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name </th>
                <th>Designation</th>
                <th>Email Id</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sunil Sharma</td>
                <td>Software Developer</td>
                <td>ss@example.com</td>
            </tr>
            <tr>
                <td>Maria Leone</td>
                <td>Data analyst</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>Sanjay Saha</td>
                <td>Consultant </td>
                <td>sanajy@example.com</td>
            </tr>
            <tr>
                <td>Pragga Sharma</td>
                <td>Frontend Developer</td>
                <td>ss@example.com</td>
            </tr>
            <tr>
                <td>St Alex</td>
                <td>Frontend Developer</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>Anjali Shaw</td>
                <td>Consultant </td>
                <td>sanajy@example.com</td>
            </tr>
            <tr>
                <td>Sunil Bose</td>
                <td>Graphics Designer</td>
                <td>ss@example.com</td>
            </tr>
            <tr>
                <td>Rupa Bhowmick</td>
                <td>Data analyst</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>Sanjay Saha</td>
                <td>Consultant </td>
                <td>sanajy@example.com</td>
            </tr>
            <tr>
                <td>Dev Kumar</td>
                <td>Backend Developer</td>
                <td>ss@example.com</td>
            </tr>
            <tr>
                <td>Pallab Roy</td>
                <td>Data analyst</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>Rafik Mondal</td>
                <td>Consultant </td>
                <td>sanajy@example.com</td>
            </tr>
            <tr>
                <td>Amrita Debnath</td>
                <td>Software Developer</td>
                <td>ss@example.com</td>
            </tr>
            <tr>
                <td>Mainak Paul</td>
                <td>HR</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>Puja Saha</td>
                <td>Consultant </td>
                <td>sanajy@example.com</td>
            </tr>
        </tbody>
    </table>
</div>


<!-- /////////////////////////////////////////////// -->

<div class="container">
    <h3 style="text-align: center;">Kolkata Branch</h3>
    <p style="text-align: center;">2/A ,Megh Colony, Kolkata-65432|| Contact: 9878982455 || mail id:hiddenckol@gmail.com
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name </th>
                <th>Designation</th>
                <th>Email Id</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sunil Sharma</td>
                <td>Software Developer</td>
                <td>ss@example.com</td>
            </tr>
            <tr>
                <td>Maria Leone</td>
                <td>Data analyst</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>Sanjay Saha</td>
                <td>Consultant </td>
                <td>sanajy@example.com</td>
            </tr>
            <tr>
                <td>Pragga Sharma</td>
                <td>Frontend Developer</td>
                <td>ss@example.com</td>
            </tr>
            <tr>
                <td>St Alex</td>
                <td>Frontend Developer</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>Anjali Shaw</td>
                <td>Consultant </td>
                <td>sanajy@example.com</td>
            </tr>
            <tr>
                <td>Sunil Bose</td>
                <td>Graphics Designer</td>
                <td>ss@example.com</td>
            </tr>
            <tr>
                <td>Rupa Bhowmick</td>
                <td>Data analyst</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>Sanjay Saha</td>
                <td>Consultant </td>
                <td>sanajy@example.com</td>
            </tr>
            <tr>
                <td>Dev Kumar</td>
                <td>Backend Developer</td>
                <td>ss@example.com</td>
            </tr>
            <tr>
                <td>Pallab Roy</td>
                <td>Data analyst</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>Rafik Mondal</td>
                <td>Consultant </td>
                <td>sanajy@example.com</td>
            </tr>
            <tr>
                <td>Amrita Debnath</td>
                <td>Software Developer</td>
                <td>ss@example.com</td>
            </tr>
            <tr>
                <td>Mainak Paul</td>
                <td>HR</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>Puja Saha</td>
                <td>Consultant </td>
                <td>sanajy@example.com</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- //////////////////////////////////////////////////// -->

<div class="container mb-5">
    <h3 style="text-align: center;">Ranchi-Branch</h3>
    <p style="text-align: center;">9/b ,Br Singh Road, Ranchi-65432|| Contact: 9878982455 || mail
        id:hiddencranchi@gmail.com</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name </th>
                <th>Designation</th>
                <th>Email Id</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sunil Sharma</td>
                <td>Software Developer</td>
                <td>ss@example.com</td>
            </tr>
            <tr>
                <td>Maria Leone</td>
                <td>Data analyst</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>Sanjay Saha</td>
                <td>Consultant </td>
                <td>sanajy@example.com</td>
            </tr>
            <tr>
                <td>Pragga Sharma</td>
                <td>Frontend Developer</td>
                <td>ss@example.com</td>
            </tr>
            <tr>
                <td>St Alex</td>
                <td>Frontend Developer</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>Anjali Shaw</td>
                <td>Consultant </td>
                <td>sanajy@example.com</td>
            </tr>
            <tr>
                <td>Sunil Bose</td>
                <td>Graphics Designer</td>
                <td>ss@example.com</td>
            </tr>
            <tr>
                <td>Rupa Bhowmick</td>
                <td>Data analyst</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>Sanjay Saha</td>
                <td>Consultant </td>
                <td>sanajy@example.com</td>
            </tr>
            <tr>
                <td>Dev Kumar</td>
                <td>Backend Developer</td>
                <td>ss@example.com</td>
            </tr>
            <tr>
                <td>Pallab Roy</td>
                <td>Data analyst</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>Rafik Mondal</td>
                <td>Consultant </td>
                <td>sanajy@example.com</td>
            </tr>
            <tr>
                <td>Amrita Debnath</td>
                <td>Software Developer</td>
                <td>ss@example.com</td>
            </tr>
            <tr>
                <td>Mainak Paul</td>
                <td>HR</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>Puja Saha</td>
                <td>Consultant </td>
                <td>sanajy@example.com</td>
            </tr>
        </tbody>
    </table>
</div>